<title>Все заявки</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "all_items" %}

{% block app_content %}

{% include '_items_menu.html' %}

<h1>Все заявки</h1>

<form action="/checked" name="checked" method="post">
    {% include '_table_reagents_all.html' %}
    <input type="hidden" name="order_id" value="{{ id }}">
    <input type="submit" name="_append" value="добавить к заказу" onclick="return confirm('Добавить?');">
    <input type="hidden" name="url" value="{{ url }}" >

</form>
{% endblock %}
