<title>Отложенные заявки</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "suspended_items" %}

{% block app_content %}

{% include '_items_menu.html' %}

<h1>Отложенные заявки</h1>

<form action="/checked" name="checked" method="post">
    {% include '_table_reagents.html' %}
    <input type="submit" name="_hand" value="Принять зявку"
           onclick="return confirm('Принять заявку в обработку?');">
    <input type="submit" name="_dec" value="Отклонить" onclick="return confirm('Вы хотите отклонить заявку?');">
    <input type="submit" name="_del" value="Пометить на удаление" onclick="return confirm('Пометить заявку на удаление?');">
    <input type="hidden" name="url" value="{{ url }}" >
</form>
{% endblock %}
