<title>Сформироованные заказы</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "all_orders" %}

{% block app_content %}

{% include '_orders_menu.html' %}

<h1>Сформированные заказы</h1>

<form action="/checked_orders" name="checked_orders" method="post">
    {% include '_table_orders.html' %}
    <input type="submit" name="_pass" value="Отправить поставщику"
           onclick="return confirm('Переместить в папку У Поставщика?');">

        <input type="submit" name="_del" value="Удалить" onclick="return confirm('Вы действительно хотите удалить заказ?');">
</form>

{% endblock %}
