<title>Отклоненные заявки</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "declined_orders" %}

{% block app_content %}

{% include '_orders_menu.html' %}

<h1>Отклоненные заявки</h1>

<form action="/checked_orders" name="checked_orders" method="post">
    {% include '_table_orders.html' %}
    <input type="submit" name="_hand" value="Принять заказ"
           onclick="return confirm('Переместить в папку Обработка?');">
    <input type="submit" name="_del" value="удалить" onclick="return confirm('Удалить заявку?');">
    <input type="submit" name="_sus" value="Отложить" onclick="return confirm('Переместить в папку отложенные');">
</form>
{% endblock %}
