<title>На удаление</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "deleted_items" %}

{% block app_content %}

{% include '_items_menu.html' %}

<h1>Заказы помеченные на удаление</h1>

<form action="/checked" name="checked" method="post">
    {% include '_table_reagents.html' %}
    <input type="submit" name="_hand" value="Принять заказ"
           onclick="return confirm('Переместить в папку Обработка?');">
    <input type="submit" name="_dec" value="Отклонить" onclick="return confirm('test');">
    <input type="submit" name="delete" value="Удалить" onclick="return confirm('test');">
</form>
{% endblock %}
