<title>Новые заявки</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "new_items" %}

{% block app_content %}

{% include '_items_menu.html' %}

<h1>Новые заявки</h1>

<form action="/checked" name="checked" method="post">
    {% include '_table_reagents.html' %}
    <input type="submit" name="_hand" value="Принять заказ"
           onclick="return confirm('Принять заказ к исполнению?');">
    <input type="submit" name="_dec" value="Отклонить" onclick="return confirm('Вы действительно хотите отклонить заказ?');">
    <input type="submit" name="_sus" value="Отложить" onclick="return confirm('Переместить заказ в отложенные?');">
</form>
{% endblock %}
