<title>Передано поставщику</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "pass_orders" %}

{% block app_content %}

{% include '_orders_menu.html' %}

<h1>Заказы переданные поставщику</h1>

<form action="/checked_orders" name="checked_orders" method="post">
    {% include '_table_orders.html' %}
    <input type="submit" name="_wait" value="Ожидается поставка"
           onclick="return confirm('Переместить в папку Ожидается поставка?');">
    <input type="submit" name="_dec" value="Отклонить" onclick="return confirm('Вы действительно хотите отклонить заявку?');">
    <input type="submit" name="_sus" value="Отложить" onclick="return confirm('Переместить в папку Отложенные?');">
</form>
{% endblock %}
