<title>Пришла поставка</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "received_orders" %}

{% block app_content %}

{% include '_orders_menu.html' %}

<h1>Пришла поставка</h1>

<form action="/checked_orders name="checked_orders" method="post">
    {% include '_table_orders.html' %}
    <input type="submit" name="_del" value="Удалить" onclick="return confirm('Вы действительно хотите удалить заказ?');">

</form>
{% endblock %}

{# здесь нужно галочку добавить в каталог реагентов, пометить на удаление(логика на дату завязана продумать #}