<title>Отложенные заказы</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "suspended_orders" %}

{% block app_content %}

{% include '_orders_menu.html' %}

<h1>Отложенные заказы</h1>

<form action="/checked_orders" name="checked_orders" method="post">
    {% include '_table_orders.html' %}
    <input type="submit" name="_hand" value="Принять заказ"
           onclick="return confirm('Принять заказ на обработку??');">
    <input type="submit" name="_dec" value="Отклонить" onclick="return confirm('Вы хотите отклонить заказ?');">
    <input type="submit" name="_del" value="Удалить" onclick="return confirm('Пометить заказ на удаление?');">
    <input type="hidden" name="url" value="{{ url }}" >
</form>
{% endblock %}
