<title>Ожидается поставка</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "wait_orders" %}

{% block app_content %}

{% include '_orders_menu.html' %}

<h1>Ожидается поставка</h1>

<form action="/checked_orders" name="checked_orders" method="post">
    {% include '_table_orders.html' %}
    <input type="submit" name="_rec" value="Пришла поставка"
           onclick="return confirm('Переместить в папку Исполненные заказы?');">
    <input type="submit" name="_dec" value="Отклонить" onclick="return confirm('Вы действительно хотите отклонить заказ?');">
    <input type="submit" name="_sus" value="Отложить" onclick="return confirm('Переместить в папку Отложенные?');">
    <input type="hidden" name="url" value="{{ url }}" >
</form>
{% endblock %}
