<title>Управление пользователями</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "manage_users" %}

{% block app_content %}
<h1>Управление пользователями</h1>
<form action="/manage_users" name="checked" method="post">
    {% macro has_active(field_name) %}
    {%- if field_name == 1 %}
    <div class="btn btn-xs btn-info active">New</div>
    {% endif -%}
    {%- if field_name == 2 %}
    <div class="btn btn-xs btn-success active">On</div>
    {% endif -%}
    {%- if field_name == 3 %}
    <div class="btn btn-xs btn-danger active">Off</div>
    {% endif -%}
    {%- if field_name == 0 %}
    <div class="btn btn-xs btn-default active">Banned</div>

    {% endif -%}
    {%- endmacro %}
    <div align="right"><input class="btn btn-info btn-rounded" type="submit" name="_active_new" value="Активировать всех новых пользователей"
           onclick="return confirm('Вы действительно хотите Активировать всех Новых пользователей?');"></div>
    <p></p>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>

            <th scope="col">id</th>
<th scope="col">Ф.И.О.</th>
            <th scope="col">Логин</th>
            <th scope="col">Почта</th>

            <th scope="col">Телефон</th>
            <th scope="col">Руководитель</th>
            <th scope="col">Лаборатория</th>
            <th scope="col">Должность</th>
            <th scope="col">Админ</th>
            <th scope="col">Активность</th>
                        <th scope="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="checks" value="">
                    </label></div>
            </th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}

        <tr>

            <td><p>{{ user.id }} </p></td>
            <td><p> {{user.surname}} {{ user.name }}</p></td>
            <td><p>{{ user.username }} </p></td>
            <td><p><a href="mailto:{{ user.email }} "> {{ user.email }} </a></p></td>

            <td><p>{{ user.phone_number }} </p></td>
            <td><p>{{ user.supervisor }} </p></td>
            <td><p>{{ user.laboratory }} </p></td>
            <td><p>{{ user.position}} </p></td>
            <td>
                {% if user.admin == True %}
                <div class="btn btn-xs btn-info active">On</div>
                {% else %}
                <div class="btn btn-xs btn-default active">Off</div>
                {% endif %}


            </td>

            <td>
                {{ has_active(user.role) }}


            </td>
                        <td>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="checks" value="{{ user.id }}">
                    </label></div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<div align="center" >
    <span class="glyphicon glyphicon-eye-open "></span>
    <input class="btn btn-default btn-rounded" type="submit" name="_active" value="Активировать"
           onclick="return confirm('Активировать?');">&nbsp;&nbsp;&nbsp;&nbsp;

    <span class="glyphicon glyphicon-eye-close ">   </span>
    <input class="btn btn-default btn-rounded" type="submit" name="_deactive" value="Деактивировать"
           onclick="return confirm('Деактивировать пользователя?');">&nbsp;&nbsp;&nbsp;&nbsp;


    <span class="glyphicon glyphicon-trash ">   </span>
    <input class="btn btn-default btn-rounded" type="submit" name="_del_user" value="Удалить"
           onclick="return confirm('Деактивировать пользователя?');">&nbsp;&nbsp;&nbsp;

    <span class="glyphicon glyphicon-minus-sign ">   </span>
    <input class="btn btn-default btn-rounded" type="submit" name="_ban_user" value="Забанить"
           onclick="return confirm('Деактивировать пользователя?');">&nbsp;&nbsp;&nbsp;

    <span class="glyphicon glyphicon-thumbs-up">   </span>
    <input class="btn btn-default btn-rounded" type="submit" name="_admin" value="Назначить администратором"
           onclick="return confirm('Выдать доспуп в качестве администратора?');">&nbsp;&nbsp;&nbsp;&nbsp;

    <span class="glyphicon glyphicon-thumbs-down ">   </span>
    <input class="btn btn-default btn-rounded" type="submit" name="_user" value="Снять администратора"
           onclick="return confirm('Снять доступ в качестве администратора?');">&nbsp;&nbsp;&nbsp;
    </div>
</form>
{% endblock %}