<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ реактива </title>
</head>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ реактива </title>
</head>
<body>
    <h2>Здесь создаем заявку на реактив</h2>
    <form action="" method="post" novalidate>
        <div class="form-group">
            {{ form.reagent_name.label }}<br>
            {{ form.reagent_name(size=40) }}<br><br>
        </div>

       
            
        
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>

