<title>Профиль</title>
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "user" %}

{% block app_content %}

<p>{% if current_user | super_admin %}
    <a href="/start_settings">Управление настройками сайта</a>

    {% endif %}</p>

<a href="/delete_trash">перейти в корзину</a>
<h1>Мои заказы</h1>

<form action="/checked" name="checked" method="post">
    {% include 'table_reagents_.html' %}
    <input type="submit" name="_send" value="Отправить заказ"
           onclick="return confirm('После отправки заказа, вы не сможете вносить измения. Отправить заказ менеджеру?');">
    <input type="submit" name="_del" value="Удалить"
           onclick="return confirm('Вы действительно хотите удалить Реагент из заказа?');">


    {% endblock %}
